@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #ff3700;
}

body{
    background-color: black;
    font-family: 'poppins', sans-serif;
}

header{
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    color: white;
    z-index: 10;
}

.logo{
    font-size: 35px;
    color: #FF3700;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 1px;
}

.nav{
    display: flex;
    font-size: 16px;
    color: #ffffff;
    
}

.nav i{
    color: white;
}

.nav a{
    
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    color: #e8e8e8;

}

.nav li{
    list-style: none;
    margin: 0 10px;
}

.nav li:hover a{
    color: var(--primary);
}

.nav li:hover a i{
    color: var(--primary);
}

.search-panel{
    position: relative;
    width: 300px;
    height: 40px;
}

.search-panel input{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    color: white;
    background: transparent;
    border-bottom: 1 solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px !important;
    z-index: 1;
    backdrop-filter: blur(10px);

}

.search::placeholder{
    color: #ffffff;
}

.search-panel i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    padding-right: 10px;
    color: #ffffff;
    border-right: 1px solid white;
    z-index: 2;
}


.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(bg-little-mermaid.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: 0.5s;
}

.banner::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.content{
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transition: scale(0);
    transition: 0.5s;
    margin-left: 5%;
}

.content.active{
    display: block;
    visibility: visible;
    transition: scale(1);
    transition: 0.5s;
}

.movie-title{
    max-width: 250px;
}

.banner .content h4{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 30px;
    padding-top: 15px;
}

.banner .content h4 span{
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 10px;
}

.banner .content h4 span:first-child{
    padding-left: 0;

}

.banner .content h4 span:last-child{
    border-right: none;
}

.banner .content h4 i{
    background: #ff3700;
    color: #ffffff;
    border-radius: 4px;
    /* padding: 0 8px 0 8px; */
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 10px;
}

.banner .content p{
    font-size: 1em;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5em;
    margin: 10px 0 20px;
    /* padding-right: 0; */
}


.btn1 {
    background-color: #ff3700;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn2{
    background-color: rgba(0,0,0,0.5);
    color:#ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn2:hover{
    background-color: #ff3700;
}


.carousel-box{
    position: relative;
    /* width: 90%; */
    min-width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.2);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    margin-right: 40px;
}

.carousel{
    position: relative;
    height: 400px;
    perspective: 1500px;
    margin-top: 50px;
}

.carousel .carousel-item{
    width:250px;
    cursor: pointer;
}

.carousel .carousel-item img{
    max-width: 235px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-100px);
    object-fit: cover;
    object-position: center;
}



.play{
    position: absolute;
    bottom: 20px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer !important;
    transition: 0.3s;
}

.play i{
    margin-right: 10px;
    font-size: 35px;
    cursor: pointer !important;
}

.play:hover{
    color: #ff3700;
}

.footer{
    position: absolute;
    bottom: 20px;
    right: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.footer a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.footer a:hover{
    color: #ff3700;
}


.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition:0;
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer video{
    max-width: 900px;
    outline: none;
}

.close{
    position: absolute;
    top: 30px;
    right: 30px;
    filter: invert(1);
    max-width: 30px;
}